/* Estilos da Página index.html*/
.center {
    text-align: center;
    color: #b18277;
}

.justify{
   text-align: justify; 
   color: #665b59;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

#menu li{
    display: inline;
    padding: 15px;
    text-decoration: none;
   
}

#menu li a{
    text-decoration: none;
    color:rgba(202, 81, 81, 0.788);
    font-size: 20px;
    
}

#menu li a:hover{
    color:rgb(97, 97, 89);
}

.p-30{
    padding: 30px;
    
}

.br-50{
   border-radius: 50%;
}

.tm-social{
    width: 50px;
    height: 50px;
    padding: 20px;
    color: #b18277;
}

.mb-50{
    margin-bottom: 50px;
}


*/Estilos da Página index.html*/

.ml-50{
    margin-left: 50px;
    
}